.friend {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
}

.list-friend {
  display: flex;
  flex-direction: column;
}

.friend-image {
  border-radius: 100%;
  object-fit: contain;
}
